{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="resume-section projects-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">{{ site.data.labels.projects | default: "Projects" }}</h2>
    <div class="resume-section-content">
        <div class="position-relative">
            {% for project in projects %}
            <article class="project-item position-relative pb-5">
                <div class="project-item-header mb-2">
                    <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1">
                            {{ project.name }}
                        </h3>
                        {% if project.link %}
                            <a class="ml-2" href="{{ project.link }}" target="_blank">
                                <i class="fa fa-link fa-fw mr-2"></i>
                            </a>
                        {% endif %}
                    </div>
                    <!--//row-->
                    <div class="resume-position-time">{{ project.time }}</div>
                </div>
                <!--//resume-timeline-item-header-->
                <div class="project-item-desc">
                    {% if project.details %}
                    <p>{{ project.details | markdownify }}</p>
                    {% endif %}
                    {% if project.technologies %}
                    <h4 class="project-item-desc-heading font-weight-bold">{{ site.data.labels.technologies | default: "Technologies used" }}:</h4>
                    <ul class="list-inline">
                        {% for technology in project.technologies %}
                        <li class="list-inline-item">
                            <span class="badge badge-primary badge-pill">{{ technology }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <!--//resume-timeline-item-desc-->

            </article>
            <!--//resume-timeline-item-->
            {% endfor %}
        </div>
        <!--//resume-timeline-->
    </div>
</section>
<!--//experience-section-->
{% endif %}
